body {
    background-color: #FEE4C4;
    margin: 0;
}

.textBox {
    display: flex;
    text-align: center;
    margin-top: 50px;
    justify-content: center;
}


#searchBar {
    padding: 25px;
    width: 50%;
    height: 25px;
    font-family: 'Libre Baskerville', serif;
    font-size: 25px;
    color:#4b4969;
    border-color:#4b4969;
    outline: none;
    border-style: solid;
    background-color: #fff3e6;
}


.submitButt {
    padding: 7px;
    width: 150px;
    margin-left: 10px;
    font-size: 25px;
    font-family: 'Fjalla One', sans-serif;
    border: none;
    background-color: #FFC1A6;
    color: #4b4969;
}

.submitButt:hover {
    cursor: pointer;
    background-color: #F57D7C;
    border: none;
    transition: 0.5s;
    font-size: 18px;
}

.hide {
    display: none;
}

#error {
    text-align: center;
    font-size: 30px;
    color: #F57D7C;
}

.header {
    font-size: 36px;
    font-family: 'Fjalla One', sans-serif;
    color: #4b4969;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#imageBox {
    display: flex;
    justify-content: center;
    float: left;
    height: 800px;
    width: 600px;
    margin-bottom:80px;
}

#titleBox {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    font-size: 60px;
    width: 100%;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    background-color: #FFC1A6;
    color: #4b4969;
}



#timeBox {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
    width: 100%;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    background-color: #F57D7C;
    color: #4b4969;
}

#directorsBox {
    display: flex;
    font-size: 25px;
    margin-bottom: 10px;
    font-family: 'Libre Baskerville', serif;
    color: #4a6a82;
}

#writersBox {
    display: flex;
    font-size: 25px;
    margin-bottom: 10px;
    font-family: 'Libre Baskerville', serif;
    color: #4a6a82;
}

#starsBox {
    display: flex;
    font-size: 25px;
    margin-bottom: 10px;
    font-family: 'Libre Baskerville', serif;
    color: #4a6a82;
}

#genresBox {
    display: flex;
    font-size: 25px;
    margin-bottom: 10px;
    font-family: 'Libre Baskerville', serif;
    color: #4a6a82;
}

#plotBox {
    display: flex;
    font-size: 25px;
    margin-bottom: 10px;
    font-family: 'Libre Baskerville', serif;
    color: #4a6a82;
}

#ratingBox {
    display: flex;
    font-size: 36px;
    margin-bottom: 10px;
    margin-left: 20px;
    white-space: nowrap;
    font-family: 'Libre Baskerville', serif;
    color: #4a6a82;
}

#rating {
    display: inline-block;
    
}